@charset "utf-8";

h1 {
  color: red; /*なぜかボタンを押したときに見出しの色が消えるのでこちらに移転させていただきました*/
  background:cyan;
  text-align: center;
}

div {
  text-align: center;
}

.click {
  color: white;
  width: 100px;
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
}

.click2 {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
}

#home {
  background-color: orange;
}

#home:hover {
  background-color: orange;
  filter: brightness(90%);
}

#wear {
  background-color: plum;
}

#wear:hover {
  background-color: plum;
  filter: brightness(90%);
}

#map{
  background-color: blue;
}

#map:hover{
  background-color: blue;
  filter: brightness(90%);
}

#wbgt {
  background-color: white;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
}

#wbgt:hover {
  background-color: red;
  color: yellow;
}

#back {
  width: 200px;
  background-color: deepskyblue;
}

#back:hover {
  filter: brightness(90%);
}

#next {
  width: 200px;
  background-color: deepskyblue;
}

#next:hover {
  filter: brightness(90%);
}

#delete {
  font-size: 20px;
  padding: 10px;
  border: none;
}

#delete:hover {
  filter: brightness(90%);
}

#tweet {
  width: 100px;
  font-size: 20px;
  padding: 10px;
  border: none;

}

#tweet:hover {
  filter: brightness(90%);
}

td.first {
  text-align: center;
  vertical-align: middle;
}

td.second {
  text-align: center;
  vertical-align: top;
}




nobr#name_out{
  color:blue;
  font-size: 150%;
}
