@charset "utf-8";

h1 {
  color: red; /*なぜかボタンを押したときに見出しの色が消えるのでこちらに移転させていただきました*/
  background:cyan;
  text-align: center;
}

header {
  height: 110px;
}

div {
  text-align: center;
}

table {
  margin: auto;
}

.click {
  color: white;
  width: 100px;
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
}

.click2 {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
}

.click3 {
  color: white;
  width: 70px;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}

.click:hover, .click2:hover, .click3:hover {
  filter: brightness(90%);
}

#home {
  background-color: orange;
  position: absolute;
  right: 260px;
}

#wear {
  background-color: plum;
  position: absolute;
  right: 140px;
}

#map{
  background-color: blue;
  position: absolute;
  right: 20px;
}

#wbgt {
  background-color: white;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
}

#wbgt:hover {
  background-color: red;
  color: yellow;
}

#back {
  width: 200px;
  background-color: deepskyblue;
}

#next {
  width: 200px;
  background-color: deepskyblue;
}

#delete {
  font-size: 20px;
  padding: 10px;
  border: none;
}

#delete:hover {
  filter: brightness(90%);
}

#tweet {
  width: 100px;
  font-size: 20px;
  padding: 10px;
  border: none;
}

#tweet:hover {
  filter: brightness(90%);
}

#one {
  background-color: lightblue;
}

#two {
  background-color: lightgreen;
}

#three {
  background-color: lightpink;
}

#four {
  background-color: lightgrey;
}

td.first {
  text-align: center;
  vertical-align: middle;
}

td.second {
  text-align: center;
  vertical-align: top;
}

nobr#name_out{
  color:blue;
  font-size: 150%;
}
